spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/${db_name}
    username: ${db_user}
    password: ${db_pwd}
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 10
      idle-timeout: 30000
      pool-name: BillHikariPool

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

  sql:
    init:
      mode: ALWAYS   # schema.sql + data.sql

  ai:
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: ALWAYS
