spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  sql:
    init:
      mode: NEVER

  ai:
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: never
